# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Environments
.venv/
venv/
env/
ENV/
.env

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
